/* Custom Variables */

:root {
    --mobilebg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='375' height='194'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M-131.808 155.366c97.026 51.512 204.233 51.512 321.62 0 117.388-51.512 223.27-51.512 317.648 0V0h-639.268v155.366z'/%3E%3C/svg%3E");
    --desktopbg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='437'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z'/%3E%3C/svg%3E");
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --xtrapaleblue: hsl(225, 100%, 98%);
    --greyblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
}


/* CSS Reset */
* { 
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}


/* Content */

body {
    background-image: var(--mobilebg);
    background-color: var(--paleblue);
    background-position: center start;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    background-image: var(--desktopbg);
    background-color: var(--paleblue);
    background-position: center start;
    background-size: 100% 500px;
    background-repeat: no-repeat;
}

footer {
    position: fixed;
    bottom: 0px; 
}


/* Card */

.container {
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: white;
    border-radius: 15px;
    width: 380px;
    contain: content;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.1);
    
}

.hero {
    margin: -35px;
}

b {
    font-weight: 700;
}

h1, p {
    text-align: center;
}

p {
    color: var(--greyblue);
    margin-top: 15px;
    line-height: 24px;
    padding-bottom: 10px;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 75px;
    color: var(--darkblue);
}

.ordersummary {
    display: flex;
    align-items: center;
    background-color: var(--verypaleblue);
    border-radius: 10px;
    margin-top: 10px;
    width: 300px;
    height: 100%;
}

.os_start {
    justify-content: start;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
    height: 100%;
}

.plan_sum {
    text-indent: -30px;
}

.change, .os_end {
    position: relative;
    left: 5px;
    font-size: 14px;
    color: var(--brightblue);
}

.os_end:hover, .change:hover {
    color: var(--greyblue);
    cursor: pointer;
}

button {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    padding: 13px;
    border: 0;
    width: 300px;
}

.btn-1 {
    background-color: var(--brightblue);
    color: white;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.btn-1:hover {
    background-color: var(--greyblue);
    cursor: pointer;
}

.btn-2 {
    color: var(--greyblue);
    padding-bottom: 30px;
    padding-top: 25px;
    background-color: rgba(240, 248, 255, 0);
}

.btn-2:hover {
    color: black;
    cursor: pointer;
}